<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset = "ISO-8859-1" />
    <link href = "css/styles.css" rel = "stylesheet"/>
    <title>Get Number</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

</head>
<body>
<div class="container">
<div class="row">
    <div class="s12 m4 l8">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <h3 class="card-title">Automobile Number</h3>
                <h1 th:text="${number}">Title</h1>
            </div>
            <div class="card-action">
                <a href="/number/random" class="waves-effect waves-light btn-large">Random</a>
                <a href="/number/next" class="waves-effect waves-light btn-large right">Next</a>
            </div>
        </div>
    </div>
</div>
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

</body>
</html>